{% extends "base.html" %}
{% block title %}404: Page Not Found{% endblock %}
{% block head %}
<style type=text/css>
p {
    color: #0ecc8a;
    font-weight: 900;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    color: #000080;
    font-weight: 1000;
    font-family: Helvetica, Arial, sans-serif;
}
</style>
404: WE COULDN'T FIND THIS PAGE
{% endblock %}
{% block content %}
    <p>Or maybe you don't have access to it ;)
    <br />
    If you came upon this page by mistake, try checking the URL in your web browser.</p>
{% endblock %}